@import "../../scss/variables";
@import "../../scss/mixins";

.sign-in {
  background-image: url("../../assets/img/svg/bg.svg");

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    &-logo {
        padding: 22px 20px;
        img{
            width: 100%;
        }
    }

    &-tabs{
        background-color: $background-ligth;
        .ant-tabs{
            width: 90vw;

            @include mq-min(md) {
                width: auto ;
            }
           
        }
    }
    .ant-tabs-nav-container{
        height: 60px  !important;
    }
    .ant-tabs-nav{
        width: 100%;
    }
    .ant-tabs-tab{
        width: 45vw;
        height: 60px !important;
        text-align: center !important;
        font-size:0em +19px / $defaultFontSize;
        border-top: 4px solid $border-grey  !important;
        border-radius: 0px  !important;
        margin: 0 !important;
        justify-content: center;
        @include mq-min(md) {
            width: 220px;
            font-size: 0en +23px / $defaultFontSize;
        }
       
        &:hover{
            color: $font-grey-dark;
        }
        &:before{
            content: none;
        }
        span{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }
    }
    .ant-tabs-tab-active{
        color: $primary-color  !important;
        border-top: 4px solid $primary-color !important;
        border-radius: 0px  !important;
        border-right: 0px  !important;
        border-left: 0  !important;
    }
    .ant-tabs-content{
        padding: 0 16px 16px 16px;
        text-align: center;
    }
  }

}
