@import '../../../scss/variables';
@import '../../../scss/mixins';

.menu-top{
    display: flex;

    button{
        background-color: transparent;
        color: $font-ligth;
        border:0;
        &:hover{
            color:$primary-color;
        }
        &:focus,
        &:active{
            color:$font-ligth;
        }
    }

    &__left{
        &-logo-desk{
            height: 60px;
            width: 200px;
            padding: 0 10px;
            @include mq-max(sm) {
                display: none;
             }
           
        }
        
        &-logo-movil{
            height: 60px;
            width: 80px;
            padding: 0 5px;
            @include mq-min(md) {
                display: none;
            }
        }
    }
    &__right{
        position: absolute;
        right: 17px;
        @include mq-min(md) {
           right: 0;
        }
    }
    
}