@import './../../../scss/index.scss';

.social-media{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    a{
        display: flex;
        margin-right: 10px;
        padding: 5px 8px;
        border-radius: 5px;
        background-color: white;
        svg{
            width:20px;
            height: 20px;
            background-color: white;
        }
    }

}