
$defaultFontSize: 16px;
$primary-color: #7CB728;
$primary-hover-color:#9de439;
$primary-color-dark:#001529;
$primary-color-ligth:#7CB728;


$menu-color:#1B1C1D;

$font-ligth:#fff;
$font-grey-ligth: #e8e8e8;
$font-grey:#808080;
$font-grey-dark: #000;
$font-dark:#0000;



$border-ligth:#fff;
$border-grey-ligth: #e8e8e8;
$border-grey:#808080;
$border-grey-dark: #595959;
$border-dark-ligth :#252527;
$border-dark:#000;



$background-ligth:#fff;
$background-grey-ligth: #e8e8e8;
$background-grey:#808080;
$background-grey-dark: #595959;
$background-dark-ligth :#252527;
$background-dark:#000;
$background-error:#ff00001f;
$background-success:#94f32e54;


$success: #84b84c;
$error:#f00;





$breakpoints: (
    sm  : 600px,
    md  : 768px,
    lg  : 1024px,
    xl  : 1920px,
 );
