.edit-user-form{
    .upload-avatar{
        display: table;
        margin: 0 auto;
        border:2px solid #9a9a9a;
        border-radius: 100px;
        border-style: dashed;
        padding: 10px;
        margin-bottom: 20px;
    }}